html{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}
div{
    border: 1px solid grey;
}
body{
    height: 100vh;
    width: 100vw;
    display: grid;
    margin: 0;
    overflow: hidden;
    grid-template-areas: 'image transcription';
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

.full_image{
    grid-area: image;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
}

.transcription-container{
    grid-area: transcription;
    overflow-y: scroll;
}

img{
    object-fit: cover;
    height: 100%;
    width: auto;
}
